<form action="/register" method="POST">
	<label>Email<input type = "text" name = "email"></label><br>
	<label>Password<input type = "password" name = "password"></label><br>
	<input type="submit" name="submit">
</form>